@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

#nav {
     padding: 1% 0;
    width: 100%;
    background-color: #081829; 
   
}
#piz{
    color: #f1f1f1;
    font-size: 3em;
    font-family: 'Alfa Slab One', cursive;
}
#piz >span{
    color: crimson;
    font-family: 'Smokum', cursive;
}
#navbarSupportedContent{
    text-align: center;
    
}
 #home{
    background-image: url("/assets/brenna-huff-22Vt7JIf7ZI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: #f1f1f1;
    padding: 15%;

    
} 

