@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.body{
    background: #081829;
    
}
#nav {
    padding: 1% 0;
    width: 100%;
    background-color: #f1f1f1;
    position: absolute;
    z-index: 99;
    transition: all 0.4s ease-in-out;

}
#piz{
    color: #333;
    font-size: 3em;
    font-family: 'Alfa Slab One', cursive;
}
#piz >span{
    color: crimson;
    font-family: 'Smokum', cursive;
}
#navbarSupportedContent{
    text-align: center;
}
